# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# OS files
.DS_Store
*.swp
*~

# IDE
*.idea/
*.hmap

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# App packaging
*.ipa
*.dSYM.zip
*.dSYM
